:root{
    --fundo-1: rgba(128, 128, 128, 0.7);
    --fundo-2: white;
    --estilo-bold: bold;
    --estilo-italic: italic;
    --cor: blue;
}

body{
    background-color: rgba(0, 0, 0, 0.9);
    color: red;
    text-align: center;
}

p{
    text-align: left;
    border-radius: 35px;
    border: 3px dotted green;
    padding: 15px 20px;
    width: 80vw;
    margin: 20px auto;
}

#fundo_1{
    background-color: var(--fundo-1);
    font-weight: var(--estilo-bold);
}

#fundo_2{
    background-color: var(--fundo-2);
    color: var(--cor);
    font-style: var(--estilo-italic);
}

